.body{
    background-color: #e1f4f5;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    padding: 5rem;
}

.home-image {
    width: 30rem;
    /* margin: 5rem auto auto 5rem; */
}

.download-btn {
    width: 8rem;
    height: 3.5rem;
    font-size: 20px;
    text-align: center;
    margin-top: 4rem;
    background-color: #158185;
    color: white;
    border: none;
    border-radius: 40px;
    transition: 0.3s;
}

.download-btn:hover {
    box-shadow: 0 2px 10px rgb(56, 54, 54);
}

.download-btn>a {
    text-decoration: none;
    color: white;
}

.text {
    text-align: center;
    color: #158185;
    font-size: 30px;
}