.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: right;
    align-items: center;
}

.nav-bar {
  background-color: transparent;
  backdrop-filter: blur(20px);
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: right;
  margin-right: 60px;
  margin: auto;
  flex: 1;
  width: 100%;
  text-align: left;
}

.logo {
  top: 20px;
  left: 1rem;
  width: 12.5rem;
  cursor: pointer;
  padding: 0 !important;
}


.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
  color: #000 !important;
  padding-right: 15px !important;
  text-decoration: none;
  transition: 0.15s;
}

.nav-link:hover {
  color: #3366cc !important;
}

.logonav{
    width: 7rem;
    padding: 0.5rem 0 0 1rem;
    margin: 0;
}


@media screen and (max-width: 600px) {
  .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-items: right;
    text-align: center;
    flex: 1;
    width: 100%;
    text-align: center;
  }

  .logo {
    margin-left: 1rem;
    top: 1rem;
    width: 3.5rem;
    padding: 0 !important;
  }

  .nav-toggle {
    position: fixed;  
    top: 1rem;
    right: 1rem;
    /* color: #fff; */
  }

  .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    flex: 1;
    width: 100%;
    text-align: center;
  }

  .nav-link {
    font-size: 1.3rem;
    font-weight: 400;
    color: #000;
    text-decoration: none;
    transition: 0.15s;
  }
}